HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
minikube-linux-amd64
# Ignore zip files
*.zip
# Ignore Docker-related files
*.tar
*.img
*.iso
Dockerfile
.docker/

# Ignore build directories
/target/

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore logs
*.log

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.exe

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
exe/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
minikube-linux-amd64
